.specs {
  display: flex;
  justify-content: space-between;
}

.spec-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
}

.spec-item.ph {
  background-color: olive;
}

.spec-item.vol {
  background-color: orange;
}

.spec-item.alc {
  background-color: orangered;
}
